torch
numpy
pandas
matplotlib

langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
docx2txt
python-docx
openpyxl
unstructured
jq
tiktoken
streamlit
langchain_huggingface
fastapi
uvicorn
pydantic